POSTGRES_DB=***
DOCKER_HUB_USER=***
POSTGRES_USER=***
POSTGRES_PASSWORD=***
POSTGRES_HOST=database-server
POSTGRES_PORT=5432
SERVER_IP =***
SECRET_KEY=***
REDIS_LOCATION=redis://redis-server:6379
CELERY_BROKER_URL=redis://redis-server:6379
CELERY_RESULT_BACKEND=redis://redis-server:6379
TELEGRAM_BOT_TOKEN = ***
TELEGRAM_BOT_URL = https://api.telegram.org/bot